/* .form2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
  } */

.form2 {
    height: 300px;
}

.themes {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    overflow-x:auto;
    flex-wrap: wrap;
    width: 500px;
}

.bubble {
    border-radius: 12px;
    opacity: 0.6;
    font-weight: bold;
    margin: 10px;
    position: relative;
    padding: 10px;
    overflow: visible;
    max-width: 100%;
    box-shadow: var(--box-shadow);
    border: var(--border);
    display: flex;
    align-items: center;
    justify-content: center;
}

.bubbleRemove {
    border-radius: 12px;
    opacity: 0.6;
    font-weight: bold;
    margin: 10px;
    position: relative;
    padding: 10px;
    overflow: visible;
    max-width: 100%;
    box-shadow: var(--box-shadow);
    border: var(--border);
    display: flex;
    align-items: center;
    justify-content: center;
    scale: 1.1;
    background-color: var(--red) !important;
    border-color: var(--border);
    /*transition for scale and background-color*/
    transition: all 0.7s ease-in-out;
}

.text-container {
    flex-grow: 1;
    text-align: center;
    position: relative;
    align-items: center;
    justify-content: center;
}

.remove-text {
    /* visibility: hidden; */
    position: absolute; 
    top: -10px;
    font-size: 30px;
}

.theme-text {
    position: relative;
    top: 8px;
    font-size: 18px;
    font-weight: 500;
    font-style: italic;
}

.hidden {
    opacity: 0 !important;
}

.visible {
    opacity: 1 !important;
}

.theme-text, .remove-text {
    width: 100%;
    /* transition: opacity 0.3s ease-in-out; */
}

.remove-text {
    height: 15px;
}
/* .bu */