.App {
  position: absolute;
  height: 100%;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.forms-container {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  /*height fills display*/
  height: 100%;
  background-color: rgb(45, 45, 45);
  font-variant: small-caps;
  font-family: 'Roboto', sans-serif;
  /* flex-direction: column; */
}

.menuBar {
  flex: 1;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgb(255, 245, 196, 0.5);
  background-color: rgb(51, 51, 51);
}

.form {
  display: flex;
  /* flex-direction: row; */
  flex: 20;
  align-items: center;
  justify-content: center;
  /* position: relative; */
  width: 100%;
  height: 100%;
  /* border: 1px solid red; */
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1),
    0px 2px 4px rgba(0, 0, 0, 0.5),
    0px 4px 8px rgba(0, 0, 0, 0.1),
    0px 8px 16px rgba(0, 0, 0, 0.1);
  /* background-color: aquamarine; */
  background-color: rgb(45, 45, 45);
  background-image: url('../../quizmaker/public/stripes.png');
}

.form h1 {
  font-size: 40px;
  background: linear-gradient(45deg, #a68fbd, #bda6a6, #f0c2a6);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  -webkit-mask-image: linear-gradient(to right, transparent 10%, black 50%, transparent 90%);
  mask-image: linear-gradient(to right, transparent 10%, black 50%, transparent 90%);
}

.navigate {
  display: flex;
  flex: 5;
  /* flex-direction: row; */
  align-items: center;
  justify-content: center;
  /* position: relative; */
  width: 100%;
  height: 100%;
  /* border: 1px solid red; */
}

.navigate > Button {
  color: rgb(255, 245, 196, 0.5);
}

.navigate > Button:hover {
  transform: scale3d(1.25, 1.25, 1);
}
/* .q-container {
  background-color: aquamarine;
  width: 100%;
} */

.questions {
  /* border: 1px solid red; */
  position: absolute;
}